@model IEnumerable<ErrorLoggerDataBase.appInformation>

@{
    ViewBag.Title = "Hello User";
}

<h2>Hello ViewBag.uname </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appInformationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.appInformationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appInformationID })
        </td>
    </tr>
}

</table>
